.metadata/
.qsys_edit/
db/
final_soc/
incremental_db/
output_files/
RemoteSystemsTempFiles/
simulation/
software/nes_intf_bsp/
software/nes_intf/*

**/*.bak
DE2_115.qsf
*.dpf
*.qpf
*.sopcinfo

!software/nes_intf/*.c
!software/nes_intf/*.h
